@CHARSET "UTF-8";

body
{
	background-color: #200038;
	background-image: linear-gradient(to right, rgba(48,14,70,0.0), rgba(48,14,70,0.2), rgba(48,14,70,0.4), rgba(48,14,70,0.0));
	background-attachment: fixed;
}

div#main
{
	background-color: rgba(255,255,255,0.6);
}

div#main h1
{
	font-weight: bold;
	font-size: 2em;
	font-family: Verdana,sans-serif;
	text-align: center;
	color: #301f3d;
}

div#main p
{
	font-family: Verdana,sans-serif;
	color: #200038;
}

div#main h2
{
	font-family: Verdana,sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #301f3d;
}

div#main ul li
{
	font-family: Verdana,sans-serif;
	color: #200038;
}

div#main a
{
	text-decoration: none;
	color: #422db2;
}

div#main a:hover
{
	text-decoration: underline;
	color: #392699;
}

div#main p.footer
{
	font-family: Verdana,sans-serif;
	font-size: 0.8em;
	text-align: center;
	color: rgba(0,0,0,0.4);
}

@media (min-width: 66em)
{
	div#main
	{
		border-bottom-left-radius: 3em;
		border-bottom-right-radius: 3em;
	}
}
